aiohttp
chromadb
deepgram_sdk
docx2txt
fastapi
groq
langchain
langchain_community
langchain_core
langchain_groq
numpy
PyAudio
pydantic
PyPDF2
python-dotenv
scikit_learn
streamlit
uvicorn
websockets
python-multipart
sentence-transformers
langchain-huggingface>=0.0.5
langchain-chroma>=0.0.5
